body {
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}


h1 {
  font-family: "Charm", cursive;
  text-align: center;
  text-shadow: 3px 0px #060000;
  color: #f0dac3;
}

nav{
  text-align: center;
}

#list {
  font-family: "Charm", cursive;
  border-collapse: collapse;
  width: 50%;
  margin-top: 5px;
  margin-left:auto; 
  margin-right:auto;
  
}

#list td, #list th {
  border: 1px solid #ddd;
  padding: 8px;
}

#list tr {
  background-color: #f2f2f2;
  opacity: 50%;
}
/* #list tr:nth-child(even){background-color: #f2f2f2;} */

#list tr:hover {background-color: #f0dac3;}

#list th {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  background-color: #f0dac3;;
  color: black;
  font: bold;
}
button{
  
}

.sort-button{
  background-color: rgb(109, 113, 109);
  border-radius: 12px;
  border: none;
  color: white;
  text-align: center;
  font-size: 11px;
  transition-duration: 0.4s;
  cursor: pointer;
  
}

.sort-button {
  background-color: #f0dac3; 
  color: black; 
  border: 1px solid #060000;
}

.sort-button:hover {
  background-color:  rgb(107, 109, 107);
  color: white;
}

.filter-button{
  background-color: rgb(109, 113, 109);
  border-radius: 12px;
  border: none;
  color: white;
  text-align: center;
  font-size: 11px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.filter-button {
  background-color: #f0dac3; 
  color: black; 
  border: 1px solid #060000;
}

.filter-button:hover {
  background-color:  rgb(107, 109, 107);
  color: white;
}


.gryffindor {
  background-color: #ce3a0a;
  color: #fdb02e;
}

.hufflepuf {
  background-color: #ffc02a;
  color: #0b0000;
}

.ravenclaw {
  background-color: #395f9d;
  color: #e9ba36;
}

.slytherin {
  background-color: #588c39;
  color: #c0b1c6;
}


#modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, .7);
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
}

#modal-content {
  width: 70vw;
  height: 70vh;
  background-color: rgba(250, 250, 250, 1);
  margin: 0 auto;

}

#modal-content button{
  position: absolute;
  margin-top: 6px;
  margin-left: 15px;
}

#modal.show {
  opacity: 1;
  pointer-events: all;

}

#modalImage {
  height: 13vh;
  object-fit: scale-down;
}